/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scroll-snap-none {
      scroll-snap-type: none;
    }
    .scroll-snap-x {
      scroll-snap-type: x;
    }
    .scroll-snap-y {
      scroll-snap-type: y;
    }
    .movie-grid-cols {
        grid-template-columns: repeat(3, minmax(350px, 1fr));
    } 
    .height-card-lower {
        height: 46%;
    }
    .height-card-upper {
        height: 54%;
    }
    .outline-white {
        outline: white solid 2px;
    }
  }